@page "/ListarCategoria"

<h3>Listagem de Categorias</h3>

<table class="table table-scriped">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Terror</td>
    </tr>
    @*... (Demais Linhas)*@
</table>

@code {

}
